<h2>My Heroes</h2>
<div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName/>

    <button type="button" 
            class="addButton"
            (click)="add(heroName.value); heroName.value=''">
        Add Hero
    </button>
</div>


<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <!-- <button type="button" (click)="onSelect(hero)" [class.selected]="hero==selectedHero">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button> -->
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </a>

        <button type="button"
                class="delete"
                (click)="delete(hero)">
            X
        </button>
    </li>
</ul>
